<!DOCTYPE HTML>
<html>
   <head>
        <title>Microbus</title>
        <link rel="stylesheet" type="text/css" href="microbus.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   </head>
   <body>
        <%= templates %>
        <script src="microbus.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_key %>"></script>
        <script>MB.boot('<%= oba_key %>');</script>
   </body>
</html>
